<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<style>
 

 h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 8px 0;
  }


  body {   
      border-radius: 15px;
    }

</style>



<div class="container">

  <body>
  <!-- menu du haut de page -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light" style="width: 0rem;">
    <a class="navbar-brand" routerLink="/">  Accueil 🌞 </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    
  </nav>
  <!-- fin : menu du haut de page -->
</body>


  <!--The content below is only a placeholder and can be replaced.-->
  <div>
    <h1>
      Bienvenue dans {{ title }} !
    </h1>
    <!-- <app-meteo></app-meteo> -->
    <router-outlet></router-outlet>
  </div>

</div>










  